<!-- in /views/media/new.html.haml -->

<h1 style="background-color:yellow;">New Media</h1>

<%= form_for(:medium, multipart: true) do |f| %>
 <div align="center">
  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image%>
  </div>
  <br>
  <div class="actions" >
    <%= f.submit 'Upload image'%>
  </div>
  </br>
 </div>  
<% end %>
