!!!
%html
  %head
    %title Fivecircle
    = stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %h1.title Fivecircle
    #main
      %h3.title John's view.
      = yield
